:root {
  --nav-height: 60px;
}

.App-header {
  background-color: #1b2838;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

nav {
  width: 100%;
  height: 75px;
  position: absolute;
  background-color: #171d25;
  font-size: 25px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  
}

nav ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 12px 30px;
  height: 51px;
  line-height: 51px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #c6c6c6;
}

.left {
  float: left;
  height: 100%;
  width: 65%;
  padding: 0;
  margin: 0;
}

.right {
  float: right;
  height: 100%;
  width: 30%;
  padding: 0;
  margin: 0;
}

.right li {
  float: right;
  /* max-height: 29px; */
  margin-left: 10px;
  margin-right: 10px;
}

.signin {
  margin-right: 40px;
}

.right li img {
  height: 50px;
  border-radius: 10%;
  /* padding-top: 2px;
  margin-bottom: 25px; */
}

#searchArea {
  vertical-align: top;
}

#searchArea form{
  /* line-height: 51px; */
  height: 51px;
  display: flex;
  align-items: center;
}

#search {
  position: relative;
  height: 29px;
  width: 250px;
  border: 0px;
  /* margin-top: 11px;
  margin-bottom: 11px; */
  padding: 0;
  /* line-height: 25px; */
  vertical-align: middle;
  
}

input[type=text] {
  margin: auto;
}

.clear {
  clear: both;
}