.App {
  text-align: center;
}

.App-header {
  background-color: #1b2838;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #171D25;
  height: 60px;
}

.navbar a {
  display: block; /* Display links as block elements */
  color: white; /* Text color */
  text-align: center; /* Center-align text */
  padding: 14px 20px; /* Padding around text */
  text-decoration: none; /* Remove underline */
}

.navbar a:not(.signin) {
  float: left;
}

.navbar a:hover {
  color: #c6c6c6; /* Text color on hover */
}

.navbar .signin {
  float: right;
}