<h1> Welcome to our awesome site</h1>
<% if (!user) { %>
    <h2>Please log in.</h2>
    <p><a href="/steam/login">Sign On with Steam</a></p>
<% } else { %>
    <h2>Hello, <%= user.name %>. - <a href='/logout'>Logout</a></h2>
    <img src="<%= user.avatar %>">
    <form action=/wishlist/create method="post" name="test form">
        <input type="text" name="wishlist_name" value="" placeholder="Enter Wishlist Name">
        <input type="submit" value="Create Wishlist">
    </form>
    <ul>
        <% 
        if (wishlists) {
            for (var i = 0; i < wishlists.length; i++) { 
                // console.log(wishlists[i]);
                %>
                <li><a href="/wishlist/<%= wishlists[i].id %>"><%= wishlists[i].name %></a></li>
        <% }
    } %>
    </ul>
<% } %>