
.addGameToWishlistPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(50, 50, 80, 0.5);
    z-index: 9999;
}

.addGameToWishlistPopupInner { 
    position: absolute;
    left: 0; 
    right: 0; 
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto; 
    margin-right: auto; 
    width: 400px;
    height: 60vh;
    min-height: 400px;
    background-color: #282e35;
    border-radius: 25px;
    box-shadow: 0 0 10px 5px #171d25;
    user-select: none;
}

.addGameToWishlistPopupInner h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #3e444b;
    background-color: #444;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 2px solid #666;
}

.addGameToWishlistPopupInnerContent {
    height: calc(60vh - 140px);
    min-height: 260px;
    overflow: scroll;
    line-height: 25px;
    padding-bottom: 10px;
}

.addGameToWishlistEntries h2 {
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #3e444b;
}

.wishlistGamePopupWishlistName {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    border-top: 1px solid #3e444b;
    border-bottom: 1px solid #3e444b;
    color: white;
}

.wishlistGamePopupWishlistName:hover {
    background-color: #444;
    cursor: pointer;
}

.wishlist-popup-name {
    width: 85%;
    height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.wishlist-popup-wishlist-status {
    width: 15%;
    height: 25px;
    text-align: center;
    float: right;
}

.addGameToWishlistPopupInnerButtons {
    height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 2px solid #666;
}

.addGameToWishlistPopupInnerButtons button {
    width: 50%;
    height: 100%;
    border: none;
    background-color: #444;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.addGameToWishlistPopupInnerButtons button:hover {
    background-color: #666;
}

#close-wishlist-add-popup {
    border-right: 2px solid #666;
    border-bottom-left-radius: 25px;
}

#save-wishlist-add-popup {
    border-left: 2px solid #666;
    border-bottom-right-radius: 25px;
}

.clear {
    clear: both;
}
