#deleteWishlistPopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}

#deleteWishlistBlur {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 80, 0.5);
    transition: all 0.1s linear;
    backdrop-filter: blur(5px);
}

#deleteWishlistPopupContent {
    position: absolute;
    min-width: 400px;
    max-width: 500px;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #171d25;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    padding: 20px;
    padding-top: 36px;
}

#deleteWishlistPopupContent h2 {
    margin-bottom: 20px;
}

#deleteWishlistPopupContent p {
    margin-bottom: 20px;
}

.deleteWishlist-section {
    display: flex;
    gap: 10px;
    color: #dfe3e6;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}

#deleteWishlistName {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    background-color: #2a2e36;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#deleteWishlistName:hover {
    background-color: #333841;
}

#deleteWishlistName:focus {
    outline: none;
    background-color: #23262e;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#deleteWishlistConfirm {
    background-color: #2a2e36;
    border: none;
    color: #dfe3e6;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
}

#deleteWishlistConfirm:hover {
    background-color: #474d58;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

#deleteWishlistConfirm:active {
    box-shadow: none;
}

.deleteWishlistTop {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    line-height: 24px;
}

#deleteWishlistClose {
    padding: 5px 10px;
    border-top-right-radius: 5px;
}

#deleteWishlistClose:hover {
    background-color: #da251d;
}