#dlc-body {
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    padding: 0 5px 10px 5px;
    align-items: center;
}

#dlc-body .loading-dlc {
    width: 125px;
    height: 125px;
    align-self: center;
}

#dlc-body .loading-entry {
    justify-content: center;
}

.dlc-entry {
    width: 250px;
    height: calc(100% - 10px);
    flex: none;
    text-decoration: none;
    color: white;
    background-color: #171d25;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px #000;
}

.dlc-entry:hover {
    background-color: #1e2630;
    box-shadow: 0px 0px 5px 1px #000;
}

.dlc-blank-img{
    width: 100%;
    border-radius: 10px;
    flex: none;
}

.dlc-entry h3 {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.dlc-price {
    align-self: flex-end;
    display: flex;
    width: 100%;
    padding: 5px 0;
    flex: none;
    margin-top: auto;
    align-items: flex-end;
}

.dlc-price * {
    margin-left: auto;
    width: fit-content;
    flex: none;
    display: flex;
}