#game-content {
    width: 70%;
    max-width: calc(100% - 300px);
    float: right;
    padding: 0 10px 0 20px;
}

@media (min-width: calc(500px * (10 / 3) + 50px)) {
    #game-content {
        width: calc(100% - 500px);
    }
}

.game-content-section {
    background-color: #282e35;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin-bottom: 20px;
}

.game-content-section-header {
    font-size: 25px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    user-select: none;
}

#game-requirements-selector {
    width: 100%;
    user-select: none;
    margin-bottom: 20px;
}

.platform-selector {
    width: calc(33% - 10px);
    float: left;
    padding: 10px;
    margin: 5px;
    background-color: #3e444b;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 5px 0 #171a1d;
}

.platform-selector:hover {
    cursor: pointer;
    background-color: #4e545b;
}

#minimum-requirements, #recommended-requirements {
    float: left;
    width: 48%;
    padding: 10px;
    background-color: #3e444b;
    border-radius: 5px;
}

#minimum-requirements {
    margin-right: 2%;
}

#recommended-requirements {
    margin-left: 2%;
}

#minimum-requirements *, #recommended-requirements * {
    margin-bottom: 5px;
}

.bb_ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: lightgrey;
}

.bb_ul li {
    margin-bottom: 10px;
}