#game-info {
    width: 30%;
    max-width: 700px;
    min-width: 300px;
    float: left;
    background-color: #282e35;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    transition: all 0.3s linear;
}

#game-info img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#game-info .loading-header {
    width: 210px;
    height: 210px;
    margin: auto;
    display: block;
}

.game-info-body {
    padding: 5px 10px 10px 10px;
}

.game-info-section {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #3e444b;
    line-height: 25px;
}

.game-info-body h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#game-tag-more, #game-genres-more {
    float: right;
    width: 15%;
}

#game-tag-more button, #game-genres-more button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
}

#game-tag-more button:hover, #game-genres-more button:hover{
    color: lightskyblue;
    cursor: pointer;
}

#game-tags, #game-genres {
    height: 25px;
    overflow: hidden;
    float: left;
    max-width: 80%;
    display: flex;
}

#game-tags *, #game-genres *{
    display: inline;
    word-wrap: normal;
    text-wrap: none;   
}

#game-tags p, #game-genres p {
    padding: 0 5px;
    text-decoration: underline;
    color: lightskyblue;
}

#game-tags span span, #game-genres span span{
    display: inline-block;
}

#game-coming-soon {
    color: #ffcc00;
}

#sale-price {
    color: #beee11;
}

#no-players {
    color: #888888;
}

.game-quick-info {
    padding-top: 10px;
}

.no-top-padding {
    padding-top: 0;
}

.game-quick-info h2, .game-quick-info h3, .game-quick-info h4 {
    float: left;
}

.game-quick-info span {
    float: right;
    width: 40%;
}

.price-game {
    display: flex;
    margin: auto;
}

.priceInitial-game {
    margin-right: 10px;
    text-decoration: line-through;
    color: #88929c;
}

.game-sidebar-button {
    width: 48%;
    min-height: 57px;
    padding: 16px 7px;
    background-color: #427b9c;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
}

.game-sidebar-button:hover {
    background-color: #3a6e8e;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

#view-on-steam {
    float: left;
}

#add-to-wishlist {
    float: right;
}

.loading-game-field {
    width: 25px !important;
    height: 25px !important;
}

.clear {
    clear: both;
}

@media screen and (max-width: 850px) {
    #game-info {
        width: 80%;
        min-width: 300px;
        max-width: 80%;
        float: none;
        margin: 0 auto 20px auto;
    }
}

@media screen and (max-width: 550px) {
    #game-info {
        width: 100%;
        max-width: 100%;
    }

    .game-sidebar-button {
        font-size: 16px;
    }

    .game-content-section-header h2 {
        font-size: 26px;
    }
}