nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #171d25;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  gap: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
  height: 100%;
}

.right {
  gap: 5px;
}

nav ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

nav ul li img {
  width: 75%;
  height: 75%;
  border-radius: 10%;
}

nav ul li button {
  position: relative;
  color: white;
  text-decoration: none;
  background-color: #171d25;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
}

nav ul li a:hover, nav ul li button:hover {
  background-color: #1b2838;
}

#gameSearch {
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
}

#avatar {
  cursor: pointer;
}

#avatar:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px #000);
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  #username {
    display: none;
  }
  
}