.renameWishlist-section {
    display: flex;
    gap: 10px;
    color: #dfe3e6;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}

#renameWishlistName {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    background-color: #2a2e36;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#renameWishlistName:hover {
    background-color: #333841;
}

#renameWishlistName:focus {
    outline: none;
    background-color: #23262e;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#renameWishlistConfirm {
    background-color: #2a2e36;
    border: none;
    color: #dfe3e6;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#renameWishlistConfirm:hover {
    background-color: #474d58;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

#renameWishlistConfirm:active {
    box-shadow: none;
}