.gameList {
    width: 100%;
    min-width: 1000px;
    padding: 50px 50px 0px 50px;
    display: inline-block;
    font-size: 20px;
}

.gameItem {
    height: 160px;
    list-style: none;
    border: 1px gray;
    border-radius: 20px;
    background-color: #393f46;
    display: flex;
    padding: 15px 45px;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    user-select: none;
}

.gameItem:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    background-color: #4d545c;
}

.gameLink {
    color: white;
    text-decoration: none;
}

.gameTitle {
    width: 20%;
    min-width: 183px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.gameTitle img {
    /* scale: 33%; */
    height: 66%;
    align-self: center;
}

.gameTitle h1 {
    height: 22px;
    font-size: 22px;
    max-width: 100%;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gamePrice {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
    margin: auto;
}

.priceInitial {
    margin-right: 10px;
    text-decoration: line-through;
    color: #88929c;
}

.gameLowestPrice {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.gamePlayingNow {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.gamePercent {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.reviewPercentTitle {
    overflow: hidden;
    text-wrap: nowrap;
}

.reviewPercent {
    margin: auto;
}

#wishlistInner-addgame {
    cursor: pointer;
    height: 60px;
    background-color: #3e4e69;
}

#wishlistInner-addgame:hover {
    background-color: #586f96;
}

#wishlistInner-addgame h2 {
    width: 100%;
    text-align: center;
    margin: auto;
}