.wishlistInner { 
    width: 100%;
}

#wishlistInner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 110px;
    position: relative;
    align-items: end;
    padding-bottom: 10px;
    flex-direction: row;
    margin-bottom: 30px;
}

#wishlistInner-title {
    font-size: 50px;
    margin-left: 50px;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#wishlistInner-count {
    flex-grow: 1;
    padding-left: 5%;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #9f9fa1;
}

@media (max-width: 1300px){
    #wishlistInner-count {
        display: none;
    }

    #wishlistInner-title {
        width: 100%;
        margin-right: 50px;
    }
}

#wishlistInner-header-border {
    width: 90%;
    border: 1px solid #3e4e69;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gameList {
    width: 100%;
    min-width: 1000px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 50px;
}

.gameItem {
    height: 160px;
    list-style: none;
    border: 1px gray;
    border-radius: 20px;
    background-color: #393f46;
    display: flex;
    padding: 15px 45px;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    user-select: none;
}

.gameItem:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    background-color: #4d545c;
}

.gameLink {
    color: white;
    text-decoration: none;
}

.gameTitle {
    width: 20%;
    min-width: 183px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.gameTitle img {
    /* scale: 33%; */
    height: 66%;
    align-self: center;
}

.gameTitle h1 {
    height: 22px;
    font-size: 22px;
    max-width: 100%;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gamePrice {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
    margin: auto;
}

.priceInitial {
    margin-right: 10px;
    text-decoration: line-through;
    color: #88929c;
}

.gameLowestPrice {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.gamePlayingNow {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.gamePercent {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.reviewPercentTitle {
    overflow: hidden;
    text-wrap: nowrap;
}

.reviewPercent {
    margin: auto;
}

#wishlistInner-addgame {
    cursor: pointer;
    height: 60px;
    background-color: #3e4e69;
}

#wishlistInner-addgame:hover {
    background-color: #586f96;
}

#wishlistInner-addgame h2 {
    width: 100%;
    text-align: center;
    margin: auto;
}