.wishlistInner { 
    width: 100%;
}

#wishlistInner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 110px;
    position: relative;
    align-items: end;
    padding-bottom: 10px;
    flex-direction: row;
    margin-bottom: 30px;
}

#wishlistInner-title {
    font-size: 50px;
    margin-left: 50px;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#wishlistInner-count {
    flex-grow: 1;
    padding-left: 5%;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #9f9fa1;
}

@media (max-width: 1300px){
    #wishlistInner-count {
        display: none;
    }

    #wishlistInner-title {
        width: 100%;
        margin-right: 50px;
    }
}

#wishlistInner-header-border {
    width: 90%;
    border: 1px solid #3e4e69;
    position: absolute;
    bottom: 0;
    left: 5%;
}

#wishlistInner-header-mini {
    position: fixed;
    width: calc(100% - 260px);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.6);
    background: rgba(41, 45, 53, 0.9);
    transition: top 0.3s;
    padding: 0 20px;
}

#wishlistInner-header-main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 50px;
    line-height: 50px;
}

#wishlistInner-header-mini * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-mini-header {
    flex-shrink: 0;
    min-width: fit-content;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    transition: padding 0.3s;
    transition: font-size 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.button-mini-header:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

@media (max-width: 1300px){
    .button-mini-header {
        font-size: 14px;
        padding: 0 5px;
    }
}

#add-game-mini {
    background-color: rgba(27, 190, 62, 0.7);
}

#add-game-mini:hover {
    background-color: rgb(27, 190, 62)
}

#remove-game-mini {
    background-color: rgb(193, 11, 11, 0.7);
    line-height: 30px;
    height: 30px;
}

#remove-game-mini:hover {
    background-color: rgb(193, 11, 11);
}

#cancel-remove-mini {
    background-color: rgba(77, 84, 92, 0.6);
    line-height: 30px;
    height: 30px;
}

#cancel-remove-mini:hover {
    background-color: rgb(77, 84, 92);
}

.gameList {
    width: 100%;
    min-width: 1000px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 50px;
}

.gameItem {
    height: 160px;
    list-style: none;
    border: 1px gray;
    border-radius: 20px;
    background-color: #393f46;
    display: flex;
    padding: 15px 45px;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    user-select: none;
}

.gameItem:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    background-color: #4d545c;
}

.gameLink {
    color: white;
    text-decoration: none;
}

.gameTitle {
    width: 20%;
    min-width: 183px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.gameTitle img {
    /* scale: 33%; */
    height: 66%;
    align-self: center;
}

.gameTitle h1 {
    height: 22px;
    font-size: 22px;
    max-width: 100%;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gamePrice {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
    margin: auto;
}

.priceInitial {
    margin-right: 10px;
    text-decoration: line-through;
    color: #88929c;
}

.gameLowestPrice {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.gamePlayingNow {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.gamePercent {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.reviewPercentTitle {
    overflow: hidden;
    text-wrap: nowrap;
}

.reviewPercent {
    margin: auto auto 0px auto;
}

.reviewTotal {
    font-size: 14px;
    margin: 0px auto auto auto;
    color: #88929c;
}

#wishlistInner-addgame {
    cursor: pointer;
    height: 60px;
    background-color: #3e4e69;
}

#wishlistInner-addgame:hover {
    background-color: #586f96;
}

#wishlistInner-addgame h2 {
    width: 100%;
    text-align: center;
    margin: auto;
}